<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Transparência Legistaliva</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <header>
        {% if id == 45 %}
        <h1>Portal da Transparência - Câmara Angelim</h1>
        {% elif id == 34 %}
        <h1>Portal da Transparência - Câmara Garanhuns</h1>
        {% elif id == 54 %}
        <h1>Portal da Transparência - Câmara Bom Conselho</h1>
        {% elif id == 63 %}
        <h1>Portal da Transparência - Câmara Bom Jardim</h1>
        {% elif id == 27 %}
        <h1>Portal da Transparência - Câmara Brejão</h1>
        {% elif id == 56 %}
        <h1>Portal da Transparência - Câmara Canhotinho</h1>
        {% elif id == 25 %}
        <h1>Portal da Transparência - Câmara Correntes</h1>
        {% elif id == 46 %}
        <h1>Portal da Transparência - Câmara Iguaracy</h1>
        {% elif id == 54 %}
        <h1>Portal da Transparência - Câmara Bom Conselho</h1>
        {% elif id == 26 %}
        <h1>Portal da Transparência - Câmara Ingazeira</h1>
        {% elif id == 55 %}
        <h1>Portal da Transparência - Câmara Jaqueira</h1>
        {% elif id == 8 %}
        <h1>Portal da Transparência - Câmara Jucati</h1>
        {% elif id == 33 %}
        <h1>Portal da Transparência - Câmara Quipapá</h1>
        {% elif id == 59 %}
        <h1>Portal da Transparência - Câmara Tabira</h1>
        {% elif id == 61 %}
        <h1>Portal da Transparência - Câmara Tuparetama</h1>
        {% endif %}

        <p>
          Bem-vindo ao Portal da Transparência! Aqui você encontrará instruções
          detalhadas e os caminhos para acessar informações importantes
          referentes à nossa instituição.
        </p>
        <p>
          Navegue pelo portal e siga o passo a passo organizado em sessões
          gerais e subseções para encontrar os dados desejados.
        </p>
      </header>

      <section>
        <h2>Endereço Principal do Site</h2>
        <p>
          O portal da Transparência pode ser acessado no seguinte endereço
          principal:
          <a
            href="https://it-solucoes.com/transparenciaMunicipal/carregaPortalCM.aspx?ID={{id}}&e=C"
            title="Acesse o portal da Transparência da instituição"
            >https://it-solucoes.com/transparenciaMunicipal/carregaPortalCM.aspx?ID={{id}}&e=C</a
          >.
        </p>
        <p>
          Todos os links e informações listados abaixo estão organizados e
          disponíveis dentro do portal acima.
        </p>
      </section>

      <section>
        <h2>Sessão Gestão</h2>
        <p>
          A sessão Gestão oferece informações detalhadas sobre a administração e
          gestão pública, com acesso aos seguintes itens:
        </p>
        <ul>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornadadosVisualizacao.aspx?sessao=AUP&ID={{id}}&e=C"
              title="Visualizar informações sobre Audiência Pública"
            >
              Audiência Pública
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmCartaServico.aspx?ID={{id}}&e=C"
              title="Acesse a Carta de Serviços disponíveis para o público"
            >
              Carta de Serviços
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/estruturaOrganizacional.aspx?ID={{id}}&e=C"
              title="Visualizar informações sobre Competências e Estrutura Organizacional"
            >
              Competências e Estrutura Organizacional
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmDadosAberto.aspx?ID={{id}}&e=C"
              title="Visualizar e acessar dados disponíveis via API"
            >
              Dados Abertos
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmInformacoesClassificadasSigilo.aspx?ID={{id}}&e=C"
              title="Informações sigilosas classificadas para acesso restrito"
            >
              Informações Sigilosas
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornadadosVisualizacao.aspx?sessao=ecs&ID={{id}}&e=C"
              title="Visualizar Editais de Concurso ou Seleção Pública"
            >
              Edital de Concurso/Seleção Pública
            </a>
          </li>
        </ul>
      </section>

      <section>
        <h2>Classificação da Receita e Despesa</h2>
        <p>
          A classificação da receita e da despesa tem como objetivo identificar
          o fato econômico que ocasionou o ingresso ou a saída de recursos nos
          cofres públicos. As receitas e despesas podem ser agrupadas em duas
          categorias econômicas: Correntes e de Capital.
        </p>
        <ul>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaDuodecimo.aspx?ID={{id}}&e=C"
              title="Informações detalhadas sobre o duodécimo orçamentário e repasses financeiros obrigatórios ao Poder Legislativo, conforme a Constituição Federal, artigo 168."
            >
              Consulta duodécimo / Repasse Financeiro
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaReceitaExtra.aspx?ID={{id}}&e=C"
              title="Informações sobre receitas extra orçamentárias, recursos que não transitam pelo orçamento público e não constituem renda do Estado."
              aria-label="São todos os recursos recebidos que não transitam pelo orçamento público, como cauções depositadas como garantia para execução de contratos."
            >
              Receita Extra Orçamentária
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaDespesaConsolidada.aspx?ID={{id}}&e=C&ano=2024"
              aria-label="Despesa consolidada pode referir-se a:
  O saldo devedor de débitos de um mesmo tributo, acrescido de juros e multas, calculados até a data da negociação do parcelamento. 
  O montante total das obrigações financeiras de um ente da Federação, como a União, os Estados, o Distrito Federal ou os Municípios. 
  Um processo financeiro que consiste em unificar várias dívidas em um único pagamento. 
  O crédito consolidado pode ser uma forma de melhorar a gestão financeira e resolver o endividamento. Ao juntar todos os débitos em um só, com uma única data de vencimento, pode-se facilitar o dia a dia e diminuir a quantia de juros pagos"
              title="Despesa Consolidada"
              >Despesa Consolidada</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaDespesaOrcamentariaAgrupada.aspx?ID={{id}}&e=C"
              aria-label="Todas despesas com todos os detalhes delas"
              title="Despesa Detalhada"
              >Despesa Detalhada</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaDespesaExtra.aspx?ID={{id}}&e=C"
              title="Despesa Extra Orçamentária"
              aria-label="Despesa extra-orçamentária é um pagamento que não depende de autorização legislativa, ou seja, não está incluído no orçamento público. Alguns exemplos de despesas extra-orçamentárias são: Devolução de cauções, Resgate de operações de crédito por antecipação de receita orçamentária, Pagamento de restos a pagar, Pagamento de consignações. As despesas orçamentárias são despesas públicas que dependem de autorização legislativa para serem realizadas"
              >Despesa Extra Orçamentária</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmRestosInscritos.aspx?ID={{id}}&e=C"
              title="Restos a Pagar"
              aria-label="Restos a Pagar, são as despesas em aberto para pagamento"
              >Restos a Pagar</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaGastos.aspx?ID={{id}}&e=C&T=14"
              title="Gasto com Diárias"
              aria-label="As diárias são pagas a servidores e vereadores para participar de reuniões, cursos, consultas ao tribunal de contas e outras situações em que representem o Legislativo. Para atestar a legalidade do pagamento de diárias, a Administração deve comprovar a viagem que resultou no pagamento. Para isso, pode utilizar-se de relatório, acompanhado de cópia de livro de presença e da ata da reunião."
              >Gasto com Diárias</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaGastos.aspx?ID={{id}}&e=C&T=33"
              title="Gasto com Passagens"
              aria-label="Gasto com Passagens"
              >Gasto com Passagens</a
            >
          </li>
          <li>
            <a
              href=""
              title="Compra/Contratação Direta"
              aria-label="A contratação direta é um procedimento que permite que entidades públicas adquiram bens, serviços ou obras sem a necessidade de um processo licitatório formal. Para isso, é preciso que sejam atendidos os requisitos estabelecidos na legislação, como a Lei nº 14.133/2021, que estabelece normas gerais de licitação e contratação. A contratação direta é uma ferramenta ágil e eficiente, que permite atender demandas urgentes. No entanto, é importante que o procedimento seja realizado de forma criteriosa, para evitar sobrepreços. Para realizar uma contratação direta, é preciso: Identificar a necessidade Definir o objeto Estima os valores e quantitativos Comprovar a compatibilidade dos preços com o mercado Demonstrara a previsão de recursos orçamentários Prever a contratação no plano de contratações anual Definir as condições de execução e de pagamento Justificar a opção pela contratação direta
      Justificar a escolha do contratado Justificar o preço da contratação  O processo de contratação direta exige autorização da autoridade competente"
              >Compra/Contratação Direta</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=qdd&ID={{id}}&e=C"
              title="Quadro Detalhamento da Despesa"
              aria-label="O Quadro de Detalhamento da Despesa (QDD) é um relatório que pode ser encontrado no menu SIAF, em Relatórios, Despesa, Consulta QDDs. 
      Algumas portarias e decretos estabelecem normas para alteração do QDD, como:
      Portaria Financeira nº 009 de 08 de outubro de 2024
      Portaria Financeira nº 008 de 01 de outubro de 2024
      Portaria Financeira nº 005 de 20 de agosto de 2024
      Decreto nº 003 de 01 de abril de 2024
      Portaria Financeira nº 002 de 01 de março de 2024
      Portaria Financeira nº 1 de 21 de fevereiro de 2024 
      Os estágios da despesa são: Empenho, Liquidação, Pagamento. 
      Os elementos de despesa identificam os objetos de gasto, como:
      Vencimentos e vantagens fixas
      Juros
      Diárias
      Material de consumo
      Serviços de terceiros
      Subvenções sociais
      Obras e instalações
      Equipamentos e material permanente
      Auxílios"
              >Quadro Detalhamento da Despesa</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmOrdemCronologicaPgtMesal.aspx?ID={{id}}&e=C"
              title="Ordem Cronológica dos Pagamentos"
              aria-label="A ordem cronológica de pagamentos é um princípio que determina que as obrigações devem ser pagas de acordo com a data de exigibilidade, ou seja, a data de liquidação da despesa ou a prevista no contrato. 
      A ordem cronológica de pagamentos deve ser observada para cada fonte de recursos e subdividida por unidade administrativa e categoria de contrato. As categorias de contrato são: Fornecimento de bens, Locações, Prestação de serviços, Realização de obras. 
      A inobservância da ordem cronológica de pagamentos pode resultar na apuração de responsabilidade do agente responsável, sendo fiscalizada pelos órgãos de controle."
              >Ordem Cronológica dos Pagamentos</a
            >
          </li>
        </ul>
      </section>

      <section>
        <h2>Licitações e Contratos</h2>
        <p>
          Licitações são procedimentos utilizados pelo governo para selecionar a
          proposta mais vantajosa para a aquisição de bens ou a contratação de
          serviços, conforme as regras estabelecidas pela Lei Federal nº 8.666,
          de 1993. Abaixo estão informações detalhadas sobre licitações e
          contratos relacionados.
        </p>
        <ul>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmAvisoLicitacao.aspx?ID={{id}}"
              title="Acesse os avisos de licitação e os editais disponíveis para consulta"
              aria-label="O aviso de licitação é um resumo do edital de licitação, enquanto o edital é o ato convocatório que estabelece as condições para a participação no processo licitatório: 
      Aviso de licitação
      É um extrato que contém informações como o objeto da licitação, a modalidade, a data e hora da sessão, e o local onde o edital completo pode ser obtido. 
      Edital de licitação
      É o documento que estabelece as condições para a participação no processo licitatório, incluindo o objeto da licitação, as garantias e os deveres das partes envolvidas. 
      A Lei 14.133/2021 estabelece regras para a divulgação dos editais de licitação, que deve ser feita na internet e nos Diários Oficiais. A maior parte das licitações é conduzida eletronicamente. 
      O aviso de licitação deve conter as seguintes informações:
      Número e modalidade do processo
      Órgão responsável
      Resumo do objetivo da licitação
      Data, hora e local da sessão
      Link para conferir o edital na íntegra "
            >
              Aviso de Licitação e Edital
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmConsultaContrato.aspx?ID={{id}}&e=C"
              title="Informações sobre contratos firmados e seus respectivos aditivos"
              aria-label="Um aditivo de contrato é um documento legal que modifica, acrescenta ou remove cláusulas de um contrato original. Ele é criado e assinado pelas partes envolvidas, e tem a mesma importância que o contrato original. 
      O aditivo de contrato pode ser usado para: Atender a novas necessidades, Incluir aspectos que não foram considerados inicialmente, Prorrogar ou renovar o contrato. 
      O aditivo de contrato deve ser realizado de acordo com as normas estabelecidas pela Lei 8666/1993. No direito privado, o contrato só pode ser modificado ou aditado por expressa vontade de ambas as partes. Já nos contratos administrativos, a alteração pode ser feita por vontade da Administração Pública. 
      O aditivo de contrato pode ser utilizado em qualquer tipo de contrato, como de trabalho, administração pública, arrendamento, financiamento, compra e venda, aluguel de bens, entre outros."
            >
              Contrato e Aditivos
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosLicitacao.aspx?ID={{id}}&e=C"
              title="Consulta detalhada sobre os processos licitatórios em andamento ou finalizados"
              aria-label="Um processo licitatório é um procedimento administrativo e isonômico que visa selecionar a proposta mais vantajosa para a contratação de serviços, obras, produtos, locação ou alienação. 
      As fases de um processo licitatório são:
      Preparatória
      Divulgação do edital
      Apresentação de propostas e lances
      Julgamento
      Habilitação
      Recursal
      Homologação 
      As modalidades de licitação no Brasil são:
      Concorrência, Tomada de preços, Convite, Concurso, Leilão, Pregão. 
      A licitação deve ser pública e acessível a qualquer cidadão. Os modelos de documentos são importantes para garantir a padronização e a segurança jurídica dos processos licitatórios. 
      A Lei n.º 14.133 de 2021 e a Instrução Normativa n.º 94 de 2022 são referências para a atualização dos documentos e procedimentos licitatórios"
            >
              Processos Licitatórios
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=plca&ID={{id}}&e=C"
              title="Plano de Contratação Anual com previsões de aquisições e serviços"
              aria-label="O Plano de Contratação Anual (PCA) é um documento que reúne todas as compras e contratações que uma entidade ou órgão pretende realizar ou prorrogar no ano seguinte. O PCA é uma ferramenta de planejamento estratégico que abrange bens, obras, serviços e soluções de tecnologia da informação. 
      O PCA é obrigatório e deve ser elaborado pelos órgãos responsáveis pelo planejamento de cada ente federativo. A sua elaboração é uma inovação da Nova Lei de Licitações e Contratos Administrativos (NLLC), a Lei 14.133, de 1º de abril de 2021. 
      O PCA deve ser aprovado pela Autoridade Competente da entidade pública e publicado no Portal Nacional de Contratações Públicas (PNCP). A publicação do PCA garante a transparência e permite o acompanhamento por parte da sociedade e dos órgãos de controle. 
      O PCA é um instrumento que contribui para:
      Reduzir desperdícios e falhas 
      Aprimorar a gestão de aquisições e contratos 
      Conferir maior realismo à elaboração dos orçamentos 
      Promover o planejamento, a eficiência e a boa gestão orçamentária 
      Sinalizar intenções ao mercado fornecedor"
            >
              Plano de Contratação Anual
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=lcs&ID={{id}}&e=C"
              title="Lista de licitantes sancionados ou punidos em processos licitatórios"
              aria-label="Licitantes e contratados podem ser punidos com sanções administrativas em caso de infrações, como, por exemplo, não celebrar o contrato ou não entregar a documentação exigida:
      Advertência
      Multa
      Suspensão temporária de participação em licitação
      Impedimento de contratar com a Administração Pública
      Declaração de inidoneidade para licitar ou contratar com a Administração Pública
      Descredenciamento no Sistema de Cadastramento de Fornecedores (SICAF) 
      A administração pública pode aplicar essas sanções unilateralmente. A Lei nº 14.133/2021 também prevê o impedimento de licitar para pessoas físicas ou jurídicas que tenham sido condenadas por exploração de trabalho infantil, por submissão de trabalhadores a condições análogas às de escravo, entre outros."
            >
              Licitantes Sancionados/Punidos
            </a>
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/frmListaFiscalContrato.aspx?ID={{id}}&e=C"
              title="Consulta a lista de fiscais responsáveis pela gestão de contratos"
              aria-label=""
            >
              Lista de Fiscais de Contratos
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h2>Transferências</h2>
        <p>Transferências Voluntárias Recebidas ou Realizadas</p>
        <ul>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaTransferenciaVoluntaria.aspx?ID={{id}}&e=C&t_v=R"
              title="Transferências Voluntárias Recebidas"
              aria-label="Transferências Voluntárias Recebidas são recursos financeiros que uma entidade recebe de outra, a título de cooperação, auxílio ou assistência financeira, sem que isso decorra de uma determinação legal ou constitucional. 
    Alguns exemplos de transferências voluntárias são: Convênios, Acordos, Ajustes, Contratos de repasse, Termo de parceria. 
    O Tesouro Nacional é responsável por transferir recursos aos entes federados, de acordo com os prazos legais. 
    As transferências obrigatórias são aquelas que decorrem de uma norma jurídica obrigatória para o ente transferidor."
              >Transferências Voluntárias Recebidas</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaTransferenciaVoluntaria.aspx?ID={{id}}&e=C&t_v=E"
              title="Transferências Voluntárias Realizadas"
              aria-label="As transferências voluntárias são a entrega de recursos financeiros de uma entidade para outra, a título de cooperação, auxílio ou assistência financeira. Elas são definidas no artigo 25 da Lei de Responsabilidade Fiscal (LRF). 
As transferências voluntárias são realizadas por meio de instrumentos como convênios, contratos de repasse, termos de parceria, colaboração, fomento, entre outros. 
As transferências voluntárias não são:
Determinadas por lei ou constituição 
Destinadas ao Sistema Único de Saúde 
Descentralizações de recursos para a execução de ações de competência exclusiva da União 
O objetivo das transferências voluntárias é a realização de obras ou a prestação de serviços de interesse comum"
              >Transferências Voluntárias Realizadas</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaTransferenciaVoluntaria.aspx?ID={{id}}&e=C&t_v=E"
              title="Acordos/Termo de Coperação"
              aria-label="O acordo de cooperação e o termo de cooperação são instrumentos jurídicos que formalizam a cooperação entre entidades públicas e privadas, com ou sem fins lucrativos: 
Acordo de cooperação
Formaliza a cooperação entre entidades públicas ou entre estas e entidades privadas sem fins lucrativos. O acordo de cooperação é baseado na Lei nº 13.019, de 31 de julho de 2014. Não há transferência de recursos financeiros entre os partícipes. 
Termo de cooperação
É um documento sucinto que estabelece um consenso entre os partícipes, com o objetivo de estabelecer instrumentos específicos para projetos futuros. 
Para a celebração de um acordo de cooperação, é necessário:
Instrução processual adequada 
Plano de trabalho 
Análise das razões da propositura, objetivos e adequação à missão institucional dos órgãos e/ou entidades envolvidos 
Documento de concordância da entidade parceira 
Comprovante de competência para assinar o acordo 
Aprovação da Unidade 
Parecer da Pró-reitoria específica 
Parecer da CPAI/Proginst 
Assinatura pelos partícipes"
              >Acordos/Termo de Coperação</a
            >
          </li>
        </ul>
      </section>
      <section>
        <h2>Atos Legislativos</h2>
        <p>
          Atos legislativos são normas jurídicas elaboradas por órgãos do Poder
          Legislativo, de acordo com regras previamente definidas. Podem ser de
          diversos tipos, como leis, decretos legislativos, resoluções, entre
          outros. Atos legislativos podem ser municipais, como leis ordinárias,
          leis complementares, decretos legislativos e resoluções. No âmbito
          federal, o poder legislativo é exercido pelo Congresso Nacional,
          composto pela Câmara dos Deputados e pelo Senado Federal. O processo
          legislativo ordinário é bicameral, ou seja, requer a manifestação das
          duas Casas legislativas para a elaboração das leis. O projeto aprovado
          pelas duas Casas é enviado à Presidência da República, para sanção ou
          veto. A responsabilidade civil do Estado por atos legislativos pode
          ser apurada por meio do controle de constitucionalidade.
        </p>
        <ul>
          <li>
            <a
              href="link_para_atas"
              title="Acessar as atas das reuniões plenárias"
              aria-label="Consultar as atas das reuniões realizadas no plenário."
              >Atas das Reuniões Plenário</a
            >
          </li>
          <li>
            <a
              href="link_para_votacao"
              title="Acessar a ata da votação nominal"
              aria-label="Consultar a ata da votação nominal realizada."
              >Ata de Votação Nominal</a
            >
          </li>
          <li>
            <a
              href="link_para_cotas"
              title="Acessar informações sobre as cotas para exercício da atividade parlamentar"
              aria-label="Verificar as cotas e verbas indenizatórias destinadas aos parlamentares."
              >Cotas Exercício Atividade Parlamentar/Verba Indenizatória</a
            >
          </li>
          <li>
            <a
              href="link_para_decretos"
              title="Acessar os decretos publicados"
              aria-label="Consultar os decretos publicados."
              >Decretos</a
            >
          </li>
          <li>
            <a
              href="link_para_julgamento_contas"
              title="Acessar os resultados do julgamento das contas do executivo"
              aria-label="Verificar os resultados do julgamento das contas do executivo."
              >Julgamento das Contas do Executivo</a
            >
          </li>
          <li>
            <a
              href="link_para_legislacao_gastos"
              title="Acessar a legislação relacionada aos gastos dos parlamentares"
              aria-label="Consultar a legislação que regulamenta os gastos dos parlamentares."
              >Legislação Relacionada a Gastos dos Parlamentares</a
            >
          </li>
          <li>
            <a
              href="link_para_pauta_comissoes"
              title="Acessar a pauta das reuniões das comissões"
              aria-label="Consultar a pauta das reuniões das comissões."
              >Pauta Reunião das Comissões</a
            >
          </li>
          <li>
            <a
              href="link_para_pauta_plenario"
              title="Acessar a pauta das sessões plenárias"
              aria-label="Consultar a pauta das sessões plenárias."
              >Pauta Sessões do Plenário</a
            >
          </li>
          <li>
            <a
              href="link_para_leis_municipais"
              title="Acessar as leis municipais"
              aria-label="Consultar as leis municipais em vigor."
              >Leis Municipais</a
            >
          </li>
          <li>
            <a
              href="link_para_lista_presenca"
              title="Acessar a lista de presença e ausência nas sessões"
              aria-label="Consultar a lista de presença e ausência dos parlamentares nas sessões."
              >Lista de Presença/Ausência nas Sessões</a
            >
          </li>
          <li>
            <a
              href="link_para_portarias"
              title="Acessar as portarias publicadas"
              aria-label="Consultar as portarias publicadas."
              >Portarias</a
            >
          </li>
          <li>
            <a
              href="link_para_projetos_leis"
              title="Acessar os projetos de lei e resoluções"
              aria-label="Consultar os projetos de lei e resoluções em tramitação."
              >Projeto de Lei e Resoluções</a
            >
          </li>
          <li>
            <a
              href="link_para_relatorio_atividade"
              title="Acessar o relatório de atividade dos parlamentares"
              aria-label="Consultar o relatório de atividades dos parlamentares."
              >Relatório Atividade dos Parlamentares</a
            >
          </li>
        </ul>
      </section>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
