<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Transparência Legistaliva - Planejamento</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <header>
        {% if id == 45 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Angelim</h1>
        {% elif id == 34 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Garanhuns</h1>
        {% elif id == 54 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Bom Conselho</h1>
        {% elif id == 63 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Bom Jardim</h1>
        {% elif id == 27 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Brejão</h1>
        {% elif id == 56 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Canhotinho</h1>
        {% elif id == 25 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Correntes</h1>
        {% elif id == 46 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Iguaracy</h1>
        {% elif id == 54 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Bom Conselho</h1>
        {% elif id == 26 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Ingazeira</h1>
        {% elif id == 55 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Jaqueira</h1>
        {% elif id == 8 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Jucati</h1>
        {% elif id == 33 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Quipapá</h1>
        {% elif id == 59 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Tabira</h1>
        {% elif id == 61 %}
        <h1>Portal da Transparência - Sessão Planejamento- Câmara Tuparetama</h1>
        {% endif %}
        <p>
          Bem-vindo ao Portal da Transparência! Aqui você encontrará instruções
          detalhadas e os caminhos para acessar informações importantes
          referentes à nossa instituição.
        </p>
        <p>
          Navegue pelo portal e siga o passo a passo organizado em sessões
          gerais e subseções para encontrar os dados desejados.
        </p>
      </header>

      <section>
        <h2>Endereço Principal do Site</h2>
        <p>
          O portal da Transparência pode ser acessado no seguinte endereço
          principal:
          <a
            href="https://it-solucoes.com/transparenciaMunicipal/carregaPortalCM.aspx?ID={{id}}&e=C"
            title="Acesse o portal da Transparência da instituição"
            >https://it-solucoes.com/transparenciaMunicipal/carregaPortalCM.aspx?ID={{id}}&e=C</a
          >.
        </p>
        <p>
          Todos os links e informações listados abaixo estão organizados e
          disponíveis dentro do portal acima.
        </p>
      </section>
      <h2>Planejamento</h2>
      <p>
        Nesta sessão, vamos discutir os principais instrumentos de planejamento
        e gestão pública, com foco em garantir a aplicação eficiente dos
        recursos públicos. Abordaremos temas como: Plano Plurianual (PPA): O
        planejamento estratégico de longo prazo para o município. Lei de
        Diretrizes Orçamentárias (LDO): As diretrizes para a elaboração do
        orçamento anual. Lei Orçamentária Anual (LOA): O orçamento detalhado do
        município para o ano em questão. Lei de Responsabilidade Fiscal (LRF):
        As normas para a gestão fiscal responsável. Prestação de Contas: O
        acompanhamento e a transparência na aplicação dos recursos públicos.
        Julgamento das Contas: A análise da gestão financeira do município por
        órgãos de controle. O objetivo é promover um debate aberto e
        construtivo, buscando soluções para os desafios da gestão pública e
        garantindo a aplicação eficiente dos recursos em benefício da população.
      </p>
      <section>
        <ul>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=PPA&ID={{id}}&e=C"
              title="Acessar informações sobre o Plano Plurianual"
              aria-label="Plano Plurianual"
              >Plano Plurianual - PPA</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=LDO&ID={{id}}&e=C"
              title="Acessar informações sobre a Lei de Diretrizes Orçamentárias."
              aria-label="Lei de Diretrizes Orçamentárias -  A Lei de Diretrizes Orçamentárias (LDO) é um documento que estabelece as prioridades e metas do governo para o ano seguinte. Ela é elaborada anualmente e orienta a elaboração da Lei Orçamentária Anual. 
              A LDO é fundamental para o funcionamento do setor público e deve ser baseada nos seguintes documentos: Constituição Federal, Lei de Responsabilidade Fiscal (LRF), Lei Orgânica do Município. 
              A LDO trata de diversos temas, como: 
              Previsão de despesas com salários, cargos e plano de carreiras 
              Controle de custos 
              Avaliação de resultados de programas 
              Transferências de recursos para entidades públicas e privadas 
              Alterações na legislação tributária 
              Política tarifária das empresas da administração indireta 
              Política de aplicação das agências financeiras oficiais de fomento 
              Traçar regras para as despesas dos poderes Executivo, Legislativo e Judiciário 
              Autorizar o aumento de despesas com pessoal 
              Disciplinar o repasse de verbas da União para estados, municípios e entidades privadas"
              >Lei de Diretrizes Orçamentárias - LDO</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=LOA&ID={{id}}&e=C"
              title="Acessar informações sobre a Lei Orçamentária Anual"
              aria-label="A Lei Orçamentária Anual (LOA) é uma lei que define o orçamento de um país para um ano, indicando o quanto e onde o dinheiro público será gasto. 
              A LOA é elaborada pelo Poder Executivo e aprovada pelo Congresso Nacional. O projeto é apresentado no segundo semestre do ano, após a aprovação da Lei de Diretrizes Orçamentárias (LDO). 
              A LOA é baseada em diretrizes do Plano Plurianual (PPA) e da LDO, e deve ser compatível com elas. A LOA deve conter apenas matéria orçamentária ou financeira, evitando dispositivos estranhos à estimativa de receita e à fixação de despesa. 
              A LOA prevê:
              Receitas e despesas do governo
              Parâmetros macroeconômicos, como PIB, inflação e taxa de juros
              Arrecadação do governo com tributos e outras fontes de recursos
              Metas para a política fiscal
              Valores que a União poderá usar para investimentos e financiamentos
              Despesas determinadas por sentenças judiciais, chamadas precatórios
              Lista de obras e serviços com indícios de irregularidades graves"
              >Lei Orçamentária Anual - LOA</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/retornaDadosVisualizacao.aspx?sessao=RGF&ID={{id}}&e=C"
              title="Acessar informações sobre a Lei de Responsabilidade Fiscal"
              aria-label="Lei de Responsabilidade Fiscal"
              >Lei de Responsabilidade Fiscal - Relatórios</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaPrestacaoContas.aspx?ID={{id}}&e=C"
              title="Acessar informações sobre a prestação de contas"
              aria-label="Prestação de Contas"
              >Prestação de Contas</a
            >
          </li>
          <li>
            <a
              href="https://it-solucoes.com/transparenciaMunicipal/consultaPrestacaoContas.aspx?ID={{id}}&e=C"
              title="Acessar informações sobre o julgamento das contas"
              aria-label="Julgamento das Contas (Câmara/TCE)"
              >Julgamento das Contas (Câmara/TCE)</a
            >
          </li>
        </ul>
      </section>
    </div>

  </body>
</html>
